@import '../../styles/index.scss';

.part1_Accueil{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.alpagaMainContainer{
    width: 500px;
    height: 610px;
    max-width: 100%;
    margin-left: 100px;
}

.alpagaMain{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain; /* Pour maintenir les proportions de l'image */
    transition: transform 0.5s ease;
}

.alpagaMain:hover{
    transform: scale(1.2);
}

.partTexteAccueil{
    margin-top: 100px;
    margin-left: 100px;
    max-width: 800px;
}

.titleAccueil{
    font-size: $tertiary-font-size;
    margin-bottom: 35px;
    color: $primary-color;
    font-family: $secondary-font;
}

.paragrapheTitleAccueil{
    font-size: $secondary-font-size;
    animation: slide-inText 2s ease forwards;
}

@keyframes slide-inText {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .part1_Accueil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .alpagaMainContainer{
        width: 250px;
        height: auto;
        max-width: 100%;
        margin-left: 0px;
    }
    
    .alpagaMain{
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        transition: transform 0.5s ease;
    }
    
    .alpagaMain:hover{
        transform: scale(1.2);
    }
    
    .partTexteAccueil{
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .titleAccueil{
        font-size: 64px;
        margin-bottom: 35px;
    }
    
    .paragrapheTitleAccueil{
        font-size: 25px;
        animation: slide-inText 2s ease forwards;
    }
}