.part1Accueil{
    display: flex;
}

.partTexteAccueil{
    margin-top: 100px;
    width: 800px;
}

.titleAccueil{
    font-size: 128px;
    margin-bottom: 35px;
}

.paragrapheTitleAccueil{
    font-size: 48px;
}

.alpagaMain{
    width: 800px;
}