.part1Accueil{
    display: flex;
    margin-top: 50px;
}

.alpagaMain{
    width: 700px;
    transition: transform 0.5s ease;
}

.alpagaMain:hover{
    transform: scale(1.2);
}

.partTexteAccueil{
    margin-top: 100px;
    margin-left: 50px;
    width: 800px;
}

.titleAccueil{
    font-size: 128px;
    margin-bottom: 35px;
}

.paragrapheTitleAccueil{
    font-size: 48px;
    animation: slide-inText 2s ease forwards;
}

@keyframes slide-inText {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

