@import '../../styles/index.scss';

.part2_alimentation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.part2_alimentation_paragraphe1{
    display: flex;
    font-size: $primary-font-size;
    padding: 70px;
    border-radius: 25px;
    background-color: $primary-color;
    margin: 15px;
}

.part2_alimentation_paragraphe2{
    display: flex;
    font-size: $primary-font-size;
    padding: 70px;
    border-radius: 25px;
    background-color: $secondary-color;
    margin: 15px;
    color: white;
}


@keyframes slide-inText {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .part2_alimentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .part2_alimentation_paragraphe1 {
        font-size: calc($primary-font-size * 0.8); /* Réduction de la taille de la police */
        padding: 30px; /* Réduction du padding */
        margin: 10px; /* Réduction des marges */
    }

    .part2_alimentation_paragraphe2 {
        font-size: calc($primary-font-size * 0.8); /* Réduction de la taille de la police */
        padding: 30px; /* Réduction du padding */
        text-align: center; /* Centre le texte pour mobile */
        margin: 10px; /* Réduction des marges */
    }
}