.part2_alimentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B5E3C;
    padding-top: 50px;
    padding-bottom: 50px;
}

.part2_alimentation_Paragraphe1{
    text-align: right;
    color: white;
    font-size: 20px;
    max-width: 500px;
    margin: 15px;
}

.part2_alimentation_Paragraphe2{
    text-align: center;
    color: #E0D4B4;
    font-size: 20px;
    max-width: 350px;
    margin: 15px;
}

.part2_alimentation_Paragraphe3{
    text-align: left;
    color: white;
    font-size: 20px;
    max-width: 500px;
    margin: 15px;
}

@keyframes slide-inText {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}