.lamapart2_Accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8B5E3C;
    padding: 50px;
}

.lamapart2_ParagrapheTitle{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    max-width: 1000px;
}

.lamapart2_ParagraphePartFusion{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.lamapart2_ParagraphePart1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lamapart2_Paragraphe1Part1{
    text-align: start;
    color: #E0D4B4;
    font-size: 30px;
    margin-top: 100px;
    max-width: 550px;
}

.lamapart2_Paragraphe2Part1{
    text-align: start;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    max-width: 500px;
}

.lamapart2_ParagraphePart2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.lamapart2_Paragraphe1Part2{
    text-align: end;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    max-width: 750px;
}

.lamapart2_Paragraphe2Part2{
    text-align: end;
    color: #E0D4B4;
    font-size: 30px;
    margin-top: 100px;
    max-width: 550px;
}

.lamapart2_Paragraphe3{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
}

/* --- gameChoice --- */

.gameChoice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.containerScoreBoard{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
}

.scoreBoardWin{
    color: #E0D4B4;
    font-size: 50px;
    font-weight: bold;
}

.titleGame{
    color: #8B5E3C;
    font-size: 60px;
    font-weight: bold;
    margin-left: 80px;
    margin-right: 80px;
}

.scoreBoardLoose{
    color: #E0D4B4;
    font-size: 50px;
    font-weight: bold;
}

.picturesGame{
    display: flex;
}

.pictureGame{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #E0D4B4;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    margin: 50px;
}
  
.pictureGame:hover {
    border-color: #f00;
    transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
    .lamapart2_Accueil{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #8B5E3C;
        padding: 15px;
    }
    
    .lamapart2_ParagrapheTitle{
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 50px;
        max-width: 1000px;
    }
    
    .lamapart2_ParagraphePartFusion{
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    
    .lamapart2_ParagraphePart1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 15px;
    }
    
    .lamapart2_Paragraphe1Part1{
        text-align: start;
        color: #E0D4B4;
        font-size: 20px;
        margin-top: 100px;
        max-width: 550px;
    }
    
    .lamapart2_Paragraphe2Part1{
        text-align: start;
        color: white;
        font-size: 20px;
        margin-top: 100px;
        max-width: 500px;
    }
    
    .lamapart2_ParagraphePart2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .lamapart2_Paragraphe1Part2{
        text-align: end;
        color: white;
        font-size: 20px;
        margin-top: 100px;
        max-width: 750px;
    }
    
    .lamapart2_Paragraphe2Part2{
        text-align: end;
        color: #E0D4B4;
        font-size: 20px;
        margin-top: 100px;
        max-width: 550px;
    }
    
    .lamapart2_Paragraphe3{
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 1000px;
    }

    /* --- gameChoice --- */

    .gameChoice{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .containerScoreBoard{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 10px;
    }

    .scoreBoardWin{
        color: #E0D4B4;
        font-size: 45px;
        font-weight: bold;
    }

    .titleGame{
        color: #8B5E3C;
        font-size: 48px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
    }

    .scoreBoardLoose{
        color: #E0D4B4;
        font-size: 45px;
        font-weight: bold;
    }

    .picturesGame{
        display: flex;
        flex-direction: column;
    }

    .pictureGame{
        display: block;
        margin: 0 auto;
        max-width: 200px;
        height: 200px;
        background-color: #E0D4B4;
        border-radius: 25px;
        transition: all 0.2s ease-in-out;
        margin: 15px;
    }
    
    .pictureGame:hover {
        border-color: #f00;
        transform: scale(1.1);
    }
}