@import '../../styles/index.scss';

.gallery-container {
    padding: 20px;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image-item {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .image-item img.horizontal {
    max-height: calc(100% - 20px);
  }
  