.header{
    margin-bottom: 150px;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-out;
   
}

.hide {
    transform: translateY(-100%);
  }

.logo{
    display: flex;
    align-items: center;
    position: relative;
}

.logoAlpaga{
    width: 60px;
    margin-left: 10px;
    flex-shrink: 0;
    animation: slide-in 1s ease forwards;
}

.logotexte{
    font-size: 40px;
    margin-left: 10px;
}

.titleSite{
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333333;
  text-shadow: 1px 1px 0px #ffffff;
  margin-right: 25px;
}

.containerNav{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.linkHeader{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #8B5E3C;
    border-radius: 5px;
    background-color: #ffffff;
    color: #8B5E3C;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-left: 25px;
}
  
.linkHeader:hover{
    background-color: #E0D4B4;
    color: #ffffff;
    border-color: #ffffff;
}

.linkLama{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #8B5E3C;
    border-radius: 20px;
    background-color: #8B5E3C;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-left: 70px;
}
  
.linkLama:hover{
    background-color: #E0D4B4;
    color: #ffffff;
    border-color: #ffffff;
}

@keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

.mobileMenuIcon {
  display: none; /* Caché par défaut sur les appareils non mobiles */
  margin-top: 15px;
  z-index: 100;
}

.mobileMenuIcon .bar {
  width: 30px;
  height: 2px;
  background-color: #8B5E3C;
  margin-bottom: 6px;
  transition: transform 0.3s ease-out;
}

.mobileMenuIcon .bar.active:first-child {
  transform: translateY(8px) rotate(45deg);
}

.mobileMenuIcon .bar.active:nth-child(2) {
  opacity: 0;
}

.mobileMenuIcon .bar.active:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.mobileMenu {
  display: none; /* Caché par défaut sur les appareils non mobiles */
}

.mobileMenu.active {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  z-index: 99;
}

.mobileMenu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileMenu nav a {
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.mobileMenu nav a:hover {
  background-color: #E0D4B4;
  color: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 767px) {

    .headerContainer{
        justify-content:flex-start;
        padding: 15px;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        transition: transform 0.3s ease-out;
    }

    .mobileMenuIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .containerNav {
        display: none; /* Caché sur les appareils mobiles */
    }

    .linkHeader{
        margin-left: 0px;
    }

    .linkLama{

        margin-left: 0px;
    }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: none;
  pointer-events: none;
}

.overlay.active {
  display: block;
  pointer-events: auto;
}
