@import '../../styles/index.scss';

.variationParagrapheRace{
    color: $primary-color;
    font-family: $secondary-font;
}

.part2_race{
    padding-top: 40px;
    padding-bottom: 50px;
}

.part2_race_huacayas{
    display: flex;
}

.part2_race_paragraphe1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $primary-font-size;
    padding: 70px;
    border-radius: 25px;
    background-color: $secondary-color;
    margin: 15px;
    color: white;
}

.part2_race_imageContainer{
    margin: 15px;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.part2_race_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part2_race_suris{
    display: flex;
}

.part2_race_paragraphe2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $primary-font-size;
    padding: 70px;
    border-radius: 25px;
    background-color: $primary-color;
    margin: 15px;
}


@keyframes slide-inText {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .part2_race{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-bottom: 50px;
    }

    .part2_race_huacayas{
        display: flex;
        flex-direction: column;
    }

    .part2_race_paragraphe1 {
        font-size: calc($primary-font-size * 0.8); /* Réduction de la taille de la police */
        padding: 30px; /* Réduction du padding */
        margin: 10px; /* Réduction des marges */
    }

    .part2_race_suris{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .part2_race_paragraphe2 {
        font-size: calc($primary-font-size * 0.8); /* Réduction de la taille de la police */
        padding: 30px; /* Réduction du padding */
        text-align: center; /* Centre le texte pour mobile */
        margin: 10px; /* Réduction des marges */
    }
    
}