.part2_race{
    background-color: #8B5E3C;
    padding: 50px;
}

.containerHuacanyas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part2_race_Paragraphe1{
    text-align: center;
    color: white;
    font-size: 30px;
    max-width: 800px;
    margin: 25px;
}

.containerSuris{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.alpagaHuacayas{
    max-width: 350px;
}

.alpagaSuris{
    max-width: 400px;
}

.part2_race_Paragraphe2{
    text-align: center;
    color: white;
    font-size: 30px;
    max-width: 800px;
    margin: 25px;
}

@keyframes slide-inText {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .part2_race{
        background-color: #8B5E3C;
        padding: 15px;
        padding-bottom: 50px;
    }
    
    .containerHuacanyas{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .part2_race_Paragraphe1{
        text-align: center;
        color: white;
        font-size: 20px;
        max-width: 800px;
        margin: 0px;
    }
    
    .containerSuris{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }
    
    .alpagaHuacayas{
        max-width: 250px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .alpagaSuris{
        max-width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .part2_race_Paragraphe2{
        text-align: center;
        color: white;
        font-size: 20px;
        max-width: 800px;
        margin: 0px;
    }
}