@import '../../styles/index.scss';

.part2_mainText{
    display: flex;
    text-align: center;
    font-size: $primary-font-size;
    padding: 70px;
    border-radius: 25px;
    background-color: $secondary-color;
    margin: 15px;
    color: white;
}

.part2_containerTextImage{
    display: flex;
    height: 400px;
}

.part2_paragraphe1{
    display: flex;
    align-items: center;
    font-size: $primary-font-size;
    padding: 70px;
    border-radius: 25px;
    background-color: $tertiary-color;
    margin: 15px;
}

.part2_imageContainer{
    margin: 15px;
    width: 60%;
    overflow: hidden;
    border-radius: 25px;
}

.part2_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part2_containerPoidsParagraphe2{
    display: flex;
}

.part2_paragraphe2{
    display: flex;
    align-items: center;
    text-align: end;
    font-size: $primary-font-size;
    padding:50px;
    border-radius: 25px;
    background-color: $primary-color;
    margin: 15px;
}

/*
.part2_Paragraphe1{
    text-align: center;
    color: $primary-color;
    font-size: 30px;
    max-width: 600px;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}*/

@media only screen and (max-width: 767px) {
    .part2_mainText {
        font-size: calc($primary-font-size * 0.8); /* Réduction de la taille de la police */
        padding: 30px; /* Réduction du padding */
        margin: 10px; /* Réduction des marges */
    }

    .part2_containerTextImage {
        flex-direction: column; /* Empile les éléments verticalement */
        height: auto; /* Ajuste la hauteur automatiquement */
    }

    .part2_paragraphe1 {
        font-size: calc($primary-font-size * 0.8); /* Réduction de la taille de la police */
        padding: 30px; /* Réduction du padding */
        margin: 10px; /* Réduction des marges */
    }

    .part2_imageContainer {
        margin: 0px; /* Réduction des marges */
        padding: 0px;
        width: 100%; /* L'image prend toute la largeur */
        height: auto; /* Ajuste automatiquement la hauteur */
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .part2_image {
        width: 100%; /* L'image reste adaptative */
        height: auto; /* Respecte les proportions */
    }

    .part2_containerPoidsParagraphe2 {
        flex-direction: column; /* Les blocs s'empilent verticalement */
        gap: 10px; /* Ajoute un espace entre les blocs */
    }

    .part2_paragraphe2 {
        font-size: calc($primary-font-size * 0.8); /* Réduction de la taille de la police */
        padding: 30px; /* Réduction du padding */
        text-align: center; /* Centre le texte pour mobile */
        margin: 10px; /* Réduction des marges */
    }
}