@import '../../styles/index.scss';

.footer{
    display: flex;
    justify-content: center;
}

.footer > a{
    color: $secondary-color;
    font-size: 20px;
    font-weight: bold;
    margin: 25px;
    width: 200px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .footer{
        display: flex;
        justify-content: center;
    }

    .footer > a{
        font-size: 10px;
        font-weight: bold;
        margin: 15px;
        max-width: 200px;
        text-align: center;
    }
}
