.footer{
    display: flex;
    justify-content: center;
}

.footer > a{
    color: #8B5E3C;
    font-size: 10px;
    font-weight: bold;
    margin: 15px;
    max-width: 200px;
    text-align: center;
}