.part1_Production{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 250px;
}

.alpagaMainProduction{
  width: 800px;
  transition: transform 0.5s ease;
  margin-top: 50px;
  margin-right: 50px;
}

.alpagaMainProduction:hover{
  transform: scale(1.1);
}

.partTexteProduction{
  margin-top: 100px;
  margin-left: 50px;
  width: 800px;
}

.titleProduction{
  font-size: 80px;
  margin-bottom: 35px;
}

.paragrapheTitleProduction{
  font-size: 40px;
  animation: slide-inText 2s ease forwards;
}

/* --- part2 --- */
.part2_production{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8B5E3C;
  padding-top: 50px;
  padding-bottom: 50px;
}

.part2_production_Paragraphe1{
  text-align: center;
  color: white;
  font-size: 30px;
  width: 700px;
  margin: 50px;
  margin-right: 150px;
}

.part2_production_Paragraphe2{
  text-align: center;
  color: white;
  font-size: 30px;
  width: 300px;
  margin: 50px;
}

@keyframes slide-inText {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* --- tonduFondu ---*/

.tonduFondu{
  width: 100%;
  margin-bottom: 50px;
}

.titleTonduFondu{

  margin-top: 50px;
  margin-left: 50px;
  font-size: 80px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('../../assets/cursorTondeuse.cur'), auto;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.imagetonduFondu{
  width: 200px;
}

/* --- productionImages ---*/

.productionImages{
  display: flex;
  justify-content: space-around;
  margin: 100px;
  margin-left: 100px;
  margin-right: 100px;
}