/* --- fondu ---*/

.tonduFondu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  cursor: url('../../assets/cursorTondeuse.cur'), auto;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.imagetonduFondu{
  width: 200px;
}