@import '../../styles/index.scss';

.sectionError{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.error404{
    font-size: 288px;
    font-weight: 700;
    color: $primary-color;
    margin-top: 50px;
}

.messageError{
    font-size: 36px;
    color: $primary-color;
    margin-top: 50px;
}

.errorBackHome{
    font-size: 18px;
    color: $secondary-color;
    margin-top: 100px;
    margin-bottom: 169px;
}

.errorBackHome > p{
    text-decoration : underline;
}

.alpaga404{
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 320px;
    transform-origin: bottom left;
    transition: transform 0.5s ease;
}

.alpaga404:hover{
    transform: scale(1.3);
}

@media only screen and (max-width: 680px)
{
    /* --- Error 404 --- */

    .error404{
        margin-top: 0px;
        font-size: 96px;
    }
    
    .messageError{
        font-size: 18px;
        margin-top: 10px;
    }
    
    .errorBackHome{
        font-size: 14px;
        margin-top: 50px;
        margin-bottom: 300px;
    }

    .alpaga404{
        position: absolute;
        left: 0;
        bottom: 0px;
        max-width: 150px;
        transform-origin: bottom left;
        transition: transform 0.5s ease;
    }

}